<launch>
	<arg name="autopilot" default="ArduPilot"/>

	<include file="$(find mavros)/launch/apm.launch">
	  <arg name="fcu_url" value="udp://:14550@" />
	</include>

	<node pkg="feedback_control" type="start_ardu_sim.sh" name="sim_vehicle" required="true" output="screen" />

	<node pkg="feedback_control" type="set_offb.py" name="set_offb" output="screen" />
	  <param name="autopilot" value="$(arg autopilot)"/>

	<node pkg="feedback_control" type="ground_simulator_node.py" name="vehicle_simulator" required="true" output="screen" />
      <param name="csv_file" value="/home/amotz/Documents/depth_profile_2.csv"/>
      <param name="speed" value="2.0"/>
	  <param name="pub_rate" value ="3.0"/>
	  <param name="autopilot" value="$(arg autopilot)"/>

	<node pkg="feedback_control" type="depth_controller_node.py" name="depth_controller" required="true" output="screen"/>
      <param name="initial_depth" value="5.0"/>
	  <param name="desired_alt" value="1.5"/>
	  <param name="depth_var" value="5.0"/>
	  <param name="sensor_var" value="2.0"/>
</launch>