<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	</include>

	<!-- Our node to control the drone -->
	<node pkg="feedback_control" type="set_offb" name="offb_node_py" output="screen" />

	<node pkg="feedback_control" type="ground_simulator_node" name="vehicle_simulator" required="true" output="screen"/>
      <param name="csv_file" value="/home/amotz/Documents/Test_Ground_1.csv"/>
      <param name="speed" value="1.0"/>

</launch>