<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	</include>

	<!-- Our node to control the drone -->
	<node pkg="feedback_control" type="offb_filter" name="depth_filter" required="true" output="screen" />

	<node pkg="feedback_control" type="ping_pub" name="depth_publisher" required="true" output="screen" />
	 	launch-prefix="sleep 10;" />


</launch>